.popup__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #000;
  padding: 0;
  margin: 34px 0 54px 36px; /*Изменить верстку для confirm popup*/ 
}

@media screen and (max-width: 640px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 75px 22px;
  }
}
