.profile__title {
  max-width: 300px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .profile__title {
    max-width: 240px;
    text-align: center;
    font-size: 27px;
    line-height: 33px;
  }
}
