.popup__item {
  border: none;
  box-sizing: border-box;
  outline: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  padding: 0 0 13px 0;
  margin: 30px auto 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .popup__item {
    width: 238px;
    text-align: start;
  }
}


.popup__item:first-child {
  margin: 0 auto 0 auto;
}
