@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-info/profile__avatar-info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-change/profile__avatar-change.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/button/button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__element-block/elements__element-block.css);
@import url(./blocks/elements/__element-img/elements__element-img.css);
@import url(./blocks/elements/__element-like-button/elements__element-like-button.css);
@import url(./blocks/elements/__element-like-button/_active/elements__element-like-button_active.css);
@import url(./blocks/elements/__element-title/elements__element-title.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__element-trash-button/elements__element-trash-button.css);
@import url(./blocks/elements/__element-trash-button/_visible/elements__element-trash-button_visible.css);
@import url(./blocks/elements/_element-like-container/elements__element-like-container.css);
@import url(./blocks/elements/__element-number-like/elements__element-number-like.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__admin/popup__admin.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__item/_type/popup__item_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_view-image.css);
@import url(./blocks/popup/_type/popup_type_edit.css);
@import url(./blocks/popup/_type/popup_type_add-element.css);
@import url(./blocks/popup/_type/popup_type_confirm.css);
@import url(./blocks/popup/_type/popup_type_update-avatar.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/__description/popup__description.css);
@import url(./blocks/popup/__image/popup__image.css);
